<%inherit file="/base/index.html"/>
                <div id="activatetmsg">
                    <h1>Account activated.</h1>
                    <p>
                        Your account has been activated.
                    </p>
                    <h2>Looking for What's Next?</h2>
                    <p><strong>1.</strong> <a
                        href="${h.url_for(controller='auth', action='login',
                        id=None)}">Log In To Your Account</a></p>
                    <p><strong>2.</strong> Browse the repository to find a project that you can really sink your teeth in to; we prefer claws but hey... we're Wombats</p>
                </div>
