<%inherit file="/base/index.html"/>
                <div id="registermsg">
                	<h1>Wombat Account Registration Status</h1>
                    <p>
                    	Your account registration has been received by the
                        mechanism which is Wombat. Congratulations and welcome
                        to the most fantastic community for artists on the
                        planet. You will soon receive email with instructions on
                        how to activate your account.
                    </p>
                </div>
