<%inherit file="/base/index.html"/>
                <div id="registermsg">
                	<h1>Wombat Account Registration Status</h1>
                    <p>
                    	Your account registration has been received by the mechanism which is Wombat. Congratulations and welcome to the most fantastic community for artists on the planet.
                    </p>
                    <h2>Looking for What's Next?</h2>
                    <p><strong>1.</strong> <a href="/auth/login">Log In To Your Account</a></p>
                    <p><strong>2.</strong> Browse the repository to find a project that you can really sink your teeth in to; we prefer claws but hey... we're Wombats</p>
                </div>
