<%inherit file="/base/index.html"/>
                <div id="request_resetmsg">
                        <h1>Request password reset</h1>
                        ${h.form(h.url(action="handle_reset_request"),
                        method="post")}
                        <div class="f text">
                            <label for="email_addr">Enter email address.</label>
                            ${h.text_field("email_addr")}
                        </div>
                        <div class="f submit">
                            ${h.submit("Request")}
                        </div>
                        ${h.end_form()}
                 </div>
