<%inherit file="/base/index.html"/>
                <div id="resetmsg">
                        <h1>Enter new password</h1>
                        ${h.form(url(controller="account", action="handle_reset", id=c.id), method="post")}
                        <div class="r">
                            <div class="f password req">
                                <label for="new_password">Enter new password.</label>
                                ${h.password("new_password")}
                            </div>
                            <div class="f password req">
                                <label for="new_password_conf">Reenter new password.</label>
                                ${h.password("new_password_conf")}
                            </div>
                        </div>
                        <div class="r">
                            <div class="f submit">
                                ${h.submit("reset password", "Reset password")}
                            </div>
                        </div>
                        ${h.end_form()}
                 </div>
