## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>${self.title()}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
${self.css()}
    <link rel="shortcut icon" href="/favicon.ico" />
${self.js()}
${self.head()}
</head>
<body>
    <div id="root">
${self.header()}
    <div id="middle">
${self.menu()}
	    <div id="content">
<%include file="/components/messages.html"/>
${next.body()}
	    </div>
        </div>
    </div>
${self.footer()}
    <script language="javascript" type="text/javascript">
    init();
    </script>
</body>
</html>

<%def name="title()">${c.name}</%def>

<%def name="css()">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/datepicker/datepicker.css" />
</%def>

<%def name="js()">
    <script language="javascript" type="text/javascript" src="/scriptaculous/prototype.js"></script>
    <script language="javascript" type="text/javascript" src="/scriptaculous/scriptaculous.js?load=effects"></script>
    <script language="javascript" type="text/javascript" src="/datepicker/prototype-base-extensions.js"></script>
    <script language="javascript" type="text/javascript" src="/datepicker/prototype-date-extensions.js"></script>
    <script language="javascript" type="text/javascript" src="/datepicker/datepicker.js"></script>
    <script language="javascript" type="text/javascript" src="/wombat.js"></script>
</%def>

<%def name="head()"></%def>

<%def name="header()">
        <div id="header">
            <div id="logo">
                <a href="/" title="${c.name}">
                    <img src="/images/wombat-72.png"
                    	 border="0"
                    	 alt="${c.name}" />
                </a>
            </div>
            <div id="logo-text">${c.name}</div>
            <div id="search">
<%include file="/components/searchbox.html"/>
                <div class="action">
                    <h3 onclick="revealAdvancedSearch();" id="advSearchActivator">Advanced Search Options</h3>
                </div>
	            <div id="revAdvancedSearch" style="display:none;">
<%include file="/components/adv_search.html"/>
    	        </div>
	    </div>
        </div>
</%def>

<%def name="menu()">
            <div id="menu">
<%include file="/components/menu.html"/>
<%include file="/components/additions.html"/>
                <h2><a class="menulink" href="/show">Server Status</a></h2>
	    </div>
</%def>

<%def name="footer()">
    <div id="footer">
        <a href="http://wiki.worldforge.org/wiki/Wombat">WorldForge Open Media Browser/Artist Tool (WOMBAT)
        ${g.version}</a> &copy; 2008  Kai Blin<br />
        The copyrights of the contents of this page are held by the respective creators.
    </div>
</%def>

