                    <div class="breadcrumb block group action">
                        <h3 onclick="revealDetails();">Revision Details</h3>
                        <div id="revDetails" style="display:none;">
                            <table class="details">
                                <tr>
                                    <td class="label">Last changed by:</td>
                                    <td class="value">${c.dir.revision.author}</td>
                                </tr>
                                <tr>
                                    <td class="label">Last changed at revision:</td>
                                    <td class="value">${c.dir.revision.id}</td>
                                </tr>
                                <tr>
                                    <td class="label">Last changed on:</td>
                                    <td class="value">${c.dir.revision.date}</td>
                                </tr>
                                <tr>
                                    <td class="label">Last log message:</td>
                                    <td class="value">${c.dir.revision.log | h}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
