%if c.dir.subdirs != []:
                    <div class="group">
                        <h3>Subdirectories</h3>
                        <table border="0" class="group">
                          <tr>
<% i = 0 %>
%for dir in c.dir.subdirs:
                            <td class="cell" valign="top" width="50%">
                                    <a href="${h.url_for(controller="dir")}?path=${dir.path}" title="${dir.name}">
                                        <img class="fade" src="/images/dir.gif"
                                        border="0" alt="*" />&nbsp;${h.truncStr(dir.name,26)}&nbsp;
                                        <small>(${len(dir.subdirs)} subdirs &nbsp;${len(dir.files)} files)</small><br />
                                    </a>
                            </td>
<% i += 1%>
%if i%2 == 0:
                          </tr>
                          <tr>
%endif
%endfor
                          </tr>
                        </table>
                    </div>
%endif
