<% g = 0 %>
%for group in c.groups.keys():
%if c.groups[group] != []:
                    <div class="group">
                    	<h3>${group.capitalize()} Files</h3>
<% i = 0 %>
                    	<div class="clr set">
%for file in c.groups[group]:
							<div id="item_${g}_${i}" class="lfloat item">
                                <a href="${h.url_for(controller="file")}?path=${file.path}"
								   id="act_${g}_${i}"
								   title="View Details for: &ldquo;${file.name}&rdquo;"
								   type="text/itemDetail"
                                   rel="${h.url_for(controller="file", action="panel")}?path=${file.path}"
								   class="clr">
									<div class="lfloat">
                                        <img class="fade" src="${h.getIcon(file)}"
                                        height="32" width="32" vspace="1" hspace="1" border="0" alt="" />
									</div>
									<div class="lfloat">
										${h.truncStr(file.name, 20)}<br />
										<span class="meta">
											(${h.sizeToStr(file.size)})
										</span>
									</div>
								</a>
								<div id="exp_item_${g}_${i}" class="exp"></div>
							</div>
<% i = i+1 %>
%endfor
	                   	</div>
                    </div>
%endif
<% g = g+1 %>
%endfor
