html,body
{
    margin:0px;
    padding:0px;
    background-color:#333;
    font-family:"Helvetica","Lucida Grande",verdana;
}
h1,h2,h3,h4,h5,h6,h7
{
    padding:0px;
    margin:0px;
}
h1{ font-size:18px; line-height:32px; }
h2{ font-size:16px; line-height:28px; }
h3{ font-size:14px; line-height:20px; }
h4{ font-size:12px; line-height:18px; }
h5{ font-size:11px; line-height:18px; }
h6{ font-size:11px; line-height:18px; }
h7{ font-size:11px; line-height:18px; }
p{ font-size:12px; line-height:20px; }
a{ color:#369; }

#root
{
    display:block;
    clear:both;
    overflow:hidden;
    margin:auto;
    border:10px solid #222;
    background-color:#eee;
}
#header
{
    display:block;
    clear:both;
    overflow:hidden;
    border-bottom:10px solid #333;
    background-color:#79b;
}
#logo
{
    display:block;
    float:left;
    clear:none;
    overflow:hidden;
    width:20%;
}
#logo-text
{
    display:block;
    float:left;
    clear:none;
    overflow:hidden;
    width:50%;
    padding-top:30px;
    font-size: 26px;
    text-decoration:bold;
}
#search
{
    display:block;
    float:right;
    clear:none;
    overflow:hidden;
    width:25%;
    margin-top:5px;
}
#search form
{
    padding:0px;
    margin:0px;
}
#middle
{
    display:block;
    clear:both;
    overflow:hidden;
}

/* -- MENU -- */
#menu
{
    display:block;
    float:left;
    clear:none;
    overflow:hidden;
    width:20%;
    background-color:#79b;
    padding:0px 0px 200px 0px;
}
#menu ul
{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
#menu ul li
{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
#menu ul li a
{
    display:block;
    clear:both;
    height:32px;
    line-height:32px;
    font-size:12px;
    text-decoration:none;
    background-color:#8ac;
    color:#222;
    padding:0px 5px 0px 5px;
}
#menu ul li a:hover
{
    background-color:#9bd;
    color:#000;
}

/* -- CONTENT -- */
#content
{
    display:block;
    float:left;
    clear:none;
    overflow:hidden;
    width:76%;
    padding:5px;
}
#message
{
    display:block;
    clear:both;
    overflow:hidden;
    border:1px solid #333;
    background-color:#ffe;
    padding:2px;
    margin:0px 0px 5px 0px;
}
div.breadcrumb
{
    display:block;
    clear:both;
    overflow:hidden;
    border:1px solid #333;
    background-color:#9bd;
    padding:2px;
    margin-bottom:5px;
}
div.breadcrumb ul
{
    padding:0px;
    margin:0px;
}
div.breadcrumb ul li
{
    display:block;
    float:left;
    clear:none;
    padding-right:8px;
}
div.breadcrumb ul li a
{
    display:block;
    clear:both;
    overflow:hidden;
    height:16px;
    font-size:11px;
    line-height:16px;
}

#description
{
    margin-top:10px;
}

div.group
{
    color:#222;
    background-color:#9bd;
    border:1px solid #333;
	padding:0px 5px 5px 5px;
    -moz-border-radius: 8px 8px 0 0;
    font-weight:bold;
    margin-bottom:5px;
}
table.group
{
    width: 100%;
    border:1px solid #333;
    background-color:#eee;
    padding:10px;
    -moz-border-radius: 0px 0px 8px 8px;
}
td.cell
{
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
}

table.details
{
    padding:5px;
    border:1px solid #ccc;
    width:100%;
    background-color:#eee;
    margin-top:10px;
    -moz-border-radius: 12px 12px 12px 12px;
}
table.details td
{
    border-bottom:1px solid #ddd;
}

#pagination
{
    margin-top:10px;
}

#footer
{
    display:block;
    clear:both;
    overflow:hidden;
    text-align:center;
    color:#fff;
    padding:10px 0px 10px 0px;
}

