/* @override http://localhost:5000/stylesheet.css */

html,body
{
    margin:0px;
    padding:0px;
    background-color:#000;
    color:#eee;
    font-family:"Helvetica","Lucida Grande",verdana;
    font-size:11px;
}

h1,h2,h3,h4,h5,h6,h7
{
    padding:0px;
    margin:0px;
}

h1{ font-size:18px; line-height:32px; }
h2{ font-size:16px; line-height:28px; }
h3{ font-size:14px; line-height:20px; }
h4{ font-size:12px; line-height:18px; }
h5{ font-size:11px; line-height:18px; }
h6{ font-size:11px; line-height:18px; }
h7{ font-size:11px; line-height:18px; }
p{ font-size:12px; line-height:20px; }
a{ color:#f90; }

.action{ cursor:pointer; }

#root
{
    display:block;
    clear:both;
    overflow:hidden;
    margin:auto;
    background-color:#333;
}

#header
{
    display:block;
    clear:both;
    overflow:hidden;
    /* border-bottom:10px solid #333; */
    background-color:#333;
    background-image:url(/images/headBg.png);
    background-repeat:repeat-x;
    height:92px;
}

#logo
{
    display:block;
    float:left;
    clear:none;
    overflow:hidden;
}

#logo a
{
	display:block;
	float:left;
	clear:none;
	overflow:hidden;
	width:10%;
	min-width:70px;
}

#logo-text
{
    display:block;
    float:left;
    clear:none;
    overflow:hidden;
    width:80%;
	padding-top:20px;
	padding-left:5px;
}
#logo-text a
{
	color:#fff;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
}

#search
{
	position:absolute;
    display:block;
    clear:none;
    overflow:hidden;
    top:78px;
    right:1%;
    width:30%;
    min-width:290px;
    margin-top:5px;
    padding:5px;
    background-color:rgba(0,0,0,0.75);
    -moz-border-bottomright-radius:11px;
    -webkit-border-bottom-right-radius:11px;
    -moz-border-bottomleft-radius:11px;
    -webkit-border-bottom-left-radius:11px;
}

#search form
{
    padding:0px;
    margin:0px;
}

#middle
{
    display:block;
    clear:both;
    overflow:hidden;
}

/* -- MENU -- */
#menu
{
    display:block;
    float:left;
    clear:none;
    overflow:hidden;
    width:100%;
    padding:6px 0px 0px 0px;
}
#menu ul
{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
#menu ul li
{
	display:block;
	float:left;
	clear:none;
    list-style-type:none;
    margin:0px 0px 20px 0px;
    padding:0px 5px 0px 5px;
}
#menu ul li a
{
    display:block;
    clear:both;
    height:22px;
    line-height:22px;
    font-size:12px;
    text-decoration:none;
    background-color:#555;
    border:1px solid #555;
    -moz-border-radius:11px;
    -webkit-border-radius:11px;
    color:#ccc;
    padding:0px 5px 0px 5px;
}
#menu ul li a:hover
{
    background-color:#666;
    border:1px solid #666;
    color:#fff;
}
#menu ul li.last
{
	float:right;
	clear:right;
	width:420px;
}
#menu #loginform
{
}

/* -- CONTENT -- */
#content
{
    display:block;
    float:left;
    clear:none;
    overflow:hidden;
    width:76%;
    padding:5px;
}
#message
{
    display:block;
    clear:both;
    overflow:hidden;
    border:1px solid #900;
    color: #f40;
    background-color:#ffe;
    padding:2px;
    margin:0px 0px 5px 0px;
}
div.breadcrumb
{
    display:block;
    clear:both;
    overflow:hidden;
    border:1px solid #333;
    background-color:#666;
    padding:2px;
    margin-bottom:5px;
}
div.breadcrumb ul
{
    padding:0px;
    margin:0px;
}
div.breadcrumb ul li
{
    display:block;
    float:left;
    clear:none;
    padding-right:8px;
}
div.breadcrumb ul li a
{
    display:block;
    clear:both;
    overflow:hidden;
    height:22px;
    font-size:11px;
    line-height:22px;
    text-decoration:none;
}
div.breadcrumb ul li a img
{
	line-height:22px;
	vertical-align:middle;
}

#description
{
    margin-top:10px;
}

div.group
{
    color:#fff;
    background-color:#666;
    padding:5px 5px 5px 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-bottom:5px;
}
table.group
{
    width: 100%;
    border:1px solid #000;
    background-color:#333;
    padding:10px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
td.cell
{
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
}
td.cell a img
{
	vertical-align:middle;
}
table.details
{
    padding:5px;
    border:1px solid #666;
    width:100%;
    background-color:#666;
    margin-top:10px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
}
table.details td.label
{
	background-color:#999;
	line-height:20px;
	padding:3px 3px 3px 6px;
	color:#fff;
	font-weight:bold;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-topleft:12px;
	-moz-border-radius-bottomleft:12px;
	-webkit-border-top-left-radius:12px;
	-webkit-border-bottom-left-radius:12px;
}
table.details td.value
{
	background-color:#555;
	line-height:20px;
	padding:3px;
	color:#fff;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

#pagination
{
    margin-top:10px;
}

#footer
{
    display:block;
    clear:both;
    overflow:hidden;
    text-align:center;
    color:#eee;
    padding:10px 0px 10px 0px;
}

#revAdvancedSearch
{
    clear:both;
    overflow:hidden;
    padding:2px;
    margin-bottom:5px;
    text-align:center;
}

.tagcloud
{
    clear: both;
    display: block;
    width: 50%;
    margin-left: 20%;
    padding: 0px;
    background-color: #111;
    line-height: 3em;
    text-align: center;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;

}

.tagcloud ol
{
    list-style-type:none;
}

.tagcloud li
{
    display: inline;
}

.tagcloud a
{
    text-decoration: none;
}

.tagcloud a:hover
{
    text-decoration: none;
    background-color: #111;
}

.tagcloud span
{
    position: absolute;
    left: -999px;
    width: 990px;
}

.tagcloud .tag-normal
{
    font-size: 100%;
}

.tagcloud .tag-popular
{
    font-size: 150%;
}

.tagcloud .tag-very-popular
{
    font-size: 200%;
}

.tagcloud .tag-top
{
    font-size: 250%;
}

#taglist ul
{
    padding: 0;
    margin: 0;
    display: inline;
    list-style-type:none;
    float: right;
}

#taglist li
{
    padding-left: 0.5em;
    display: inline;
    /*list-style-type:none;*/
}

#taglist a
{
    background-color:#555;
    text-decoration:none;
}

#taglist a:hover
{
    background-color:#111;
}

div.set
{
}
div.set div.item
{
	min-height:32px;
	width:30%;
	padding:1%;
	max-width:180px;
	min-width:100px;
	min-height:70px;
	background-color:#555;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    margin:4px;
}
div.set div.item:hover
{
	background-color:#444;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
}
div.set div.item.full
{
	width:98%;
	max-width:98%;
	height:inherit;
}
div.set div.item div.abbrev
{
	height:32px;
}
div.set div.item div.exp
{
}
div.set div.item a
{
	font-size:11px;
	text-decoration:none;
	line-height:32px;
}
div.set div.item a img
{
	vertical-align:middle;
	line-height:32px;
}
div.set div.item a span.meta
{
	font-size:11px;
	color:#333;
	padding:0px;
	line-height:32px;
}

/* -- General Purpose Hacks -- */
.lfloat{ display:block;float:left;clear:none;overflow:hidden; }
.rfloat{ display:block;float:right;clear:none;overflow:hidden; }
.clr{ display:block;clear:both;overflow:hidden; }

/* -- Form element wrappers --*/
div.f /* form field */
{
	display:block;
	float:left;
	clear:none;
	overflow:hidden;
}
div.f input, div.f select, div.f textarea
{
	width:145px;
	font-size:11px;
	line-height:18px;
}
div.f.text input,div.f.password input,div.f.select select,div.f.textarea textarea
{
	width:145px;
	font-size:11px;
	line-height:18px;
}
div.r div.f label
{
	display:block;
	clear:both;
	overflow:hidden;
	width:145px;
	text-align:left;
	font-size:12px;
	line-height:22px;
}
div.f div.f label
{
	display:block;
	float:left;
	clear:none;
	overflow:hidden;
	width:50px;
	text-align:right;
	font-size:12px;
	line-height:20px;
	height:20px;
	padding:0px 3px 0px 0px;
}
div.f div.f.text input,div.f div.f.password input,div.f div.f.select select,div.f div.f.textarea textarea
{
	width:120px;
	background-color:#ccc;
	padding:0px;
	margin:0px;
	line-height:18px;
	height:18px;
	font-size:11px;
	border:1px solid #000;
}

div.f div.f.submit input
{
	width:48px;
	margin:0px 0px 0px 5px;
	height:20px;
	line-height:20px;
}
div.r /* form row */
{
	display:block;
	clear:both;
	overflow:hidden;
}
div.r div.f
{
	padding:5px;
}
div.f.req
{
	background-image:url(/images/req-off.png);
	background-position: right 5px;
	background-repeat:no-repeat;
}
div.f.reqd
{
	/*background-color:#f90;*/
	background-image:url(/images/req-on.png);
	background-position: right 5px;
	background-repeat:no-repeat;
}

form#advancedSearch
{
	display:block;
	clear:both;
	overflow:hidden;
	margin:0px;
	padding:0px;
}
div#searchboxWrapper
{
	display:block;
	clear:both;
	overflow:hidden;
	margin:0px;
	padding:0px;
	height:22px;
}
a.menulink
{
	color: black;
	text-decoration: none;
}
div#textmedia
{
	border: solid 1px;
	background: #FFFFFF;
	color: #000000;
	height: 150px;
	overflow: auto;
}

div.edit
{
	display:block;
	clear:both;
	overflow:hidden;
	background-color:#666;
	padding:10px;
	min-width:300px;
	margin:50px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

div.edit form
{
	display:block;
	clear:both;
	overflow:hidden;
	padding:25px;
	margin:auto;
	background-color:#444;
}

div.report
{
	width:100%;
}
div.report table
{
	width:100%;
}
div.report table caption
{
	background-color:#666;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	line-height:28px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;

}
div.report tr th
{
	text-align:left;
}
div.report tr td
{
	text-align:left;
}

div.report table tr th.a, div.report table tr td.a
{
	width:25%;
}
