                <h2>Latest Additions</h2>
                <ul>
%if c.session != '':
%for file in h.getLatestAdditions(c.session):
	            <li>
                        <a href="/file?path=${file.path}">
                            <img src="/images/${h.getType(file.name)}.gif"
                            	 alt="${file.name}"
                            	 border="0" />
                            ${file.name}
                        </a>
                    </li>
%endfor
%endif
                </ul>
