                <ul id="tabmenu">
                    <li><a class="menulink" href="${url(controller="tag")}">Tag Cloud</a></li>
                    <li><a class="menulink" href="${url(controller="dir")}">Directories</a></li>
                    <li><a class="menulink" href="${url(controller="show")} ">Server Status</a></li>
<% user = h.getCurrentUser(session, c.session)%>
%if user is None:
                    <li><a class="menulink" href="/account/register">Register</a></li>
                    <li class="last">
                        <div id="loginform" class="f">
                            ${h.form(url(controller="auth", action="submit"), method="post")}
                            <div class="f text">
                                <label for="email">Email:</label>
                                ${h.text("email")}
                            </div>
                            <div class="f password">
                                <label for="password">Pass:</label>
                                ${h.password("password")}
                            </div>
                            <div class="f submit">
                                ${h.submit('login', 'Login')}
                            </div>
                            ${h.end_form()}
                        </div>
%else:
					<li class="last">
                        <div><a href="${url(controller="auth",
                                action="logout", id=None)}">Logout</a>
                        </div>
                    </li>
                    <li class="last">
						<a class="menutext" href="/account/edit/${user.user_data.id}">${user.user_data.name}</a>
					</li>
%endif
                </ul>
