                <ul id="tabmenu">
                    <li><a class="menulink" href="${h.url_for(controller="file", action="unassigned")}">Unassigned Files</a></li>
                    <li><a class="menulink" href="${h.url_for(controller="dir")}">Directories</a></li>
                    <li><a class="menulink" href="/show">Server Status</a></li>
                    <li><a class="menulink" href="/account/register">Register</a></li>
                    <li class="last">
<% user = h.getCurrentUser(session, c.session)%>
%if user is None:
                        <div id="loginform" class="f">
                            ${h.form(h.url(controller="auth", action="submit"), method="post")}
                            <div class="f text">
                                <label for="email">Email:</label>
                                ${h.text_field("email")}
                            </div>
                            <div class="f password">
                                <label for="password">Pass:</label>
                                ${h.password_field("password")}
                            </div>
                            <div class="f submit">
                                ${h.submit('Login')}
                            </div>
                            ${h.end_form()}
                        </div>
%else:
                        <div>${user.user_data.name} - <a
                                href="${h.url_for(controller="auth",
                                action="logout", id=None)}">Logout</a>
                        </div>
%endif
                    </li>
                </ul>
