                        <div class="breadcrumb block group">
                            <h3 class="lfloat">Navigation&nbsp;</h3>
                            <ul>
%for entry in h.getBreadcrumbTrail(c.dir):
                                <li><a
                                    href="${h.url_for(controller="dir")}?path=${entry.path}"><img
                                    src="/images/dir_small.png" border="0" alt="*" />&nbsp;${h.truncStr(entry.name,12)}</a>
%endfor
%if c.file != "":
                                <li><a href="${h.url_for(controller="dir")}?path=${c.dir.path}">
                                        <img src="/images/dir_small.png" border="0" alt="*" />&nbsp;${h.truncStr(c.dir.name, 12)}
                                    </a>
                                </li>
%else:
                                <li><img src="/images/dir_small.png" border="0" alt="*" />&nbsp;${h.truncStr(c.dir.name, 12)}</li>
%endif
                            </ul>
                        </div>
