                    <table class="details">
                      <tr>
                        <td class="label" width="25%">Revision:</td>
                        <td class="value">${c.revision.id}</td>
                      </tr>
                      <tr>
                        <td class="label">Author:</td>
                        <td class="value">${c.revision.author}</td>
                      </tr>
                      <tr>
                        <td class="label">Date:</td>
                        <td class="value">${c.revision.date} +0000</td>
                      </tr>
                      <tr>
                        <td class="label">Log message:</td>
                        <td class="value">${c.revision.log |h}</td>
                      </tr>
                    </table>
