                    <table class="details">
                      <tr>
                        <td width="25%">Revision:</td>
                        <td>${c.revision.id}</td>
                      </tr>
                      <tr>
                        <td>Author:</td>
                        <td>${c.revision.author}</td>
                      </tr>
                      <tr>
                        <td>Date:</td>
                        <td>${c.revision.date} +0000</td>
                      </tr>
                      <tr>
                        <td>Log message:</td>
                        <td>${c.revision.log |h}</td>
                      </tr>
                    </table>
