        <div id="status">
            <h3>Status</h3>
            <table class="details">
            	<tr>
            		<td rowspan="6">
            			<a href="http://wiki.worldforge.org/wiki/Wombat">
            				<img src="/images/wombat-144.png" alt="Wombat Media Repository Viewer" border="0" />
            			</a>
            		</td>
                <tr>
                    <td width="25%">Repository URL:</td>
                    <td><a href="${c.repo_url}">${c.repo_url}</a></td>
                </tr>
                <tr>
                    <td>Current Revision:</td>
                    <td>${c.revision}</td>
                </tr>
                <tr>
                    <td>Total size of the repository:</td>
                    <td>${h.sizeToStr(c.total_size)}</td>
                </tr>
                <tr>
                    <td>Average file size:</td>
                    <td>${h.sizeToStr(int(round(c.avg_size)))}</td>
                </tr>
                <tr>
                    <td>Most popular file type:</td>
                    <td>${c.ext_string} (${c.ext_count} files)</td>
                </tr>
            </table>
        </div>
