        <div id="status">
            <h3>Status</h3>
            <table class="details">
                <tr>
                    <td class="label" width="25%">Repository URL:</td>
                    <td class="value"><a href="${c.repo_url}">${c.repo_url}</a></td>
            		<td rowspan="8" style="text-align:center;">
            			<a href="http://wiki.worldforge.org/wiki/Wombat" style="text-decoration:none;">
            				<img src="/images/wombat-144.png" alt="Wombat Media Repository Viewer" border="0" /><br />
            				View Wombat Documentation
            			</a>
            		</td>
                </tr>
                <tr>
                    <td class="label">Current Revision:</td>
                    <td class="value">${c.revision}</td>
                </tr>
                <tr>
                    <td class="label">Update status:</td>
                    <td class="value">${g.update_status}</td>
                </tr>
                <tr>
                    <td class="label">Total size of the repository:</td>
                    <td class="value">${h.sizeToStr(c.total_size)} (${c.file_count} files)</td>
                </tr>
                <tr>
                    <td class="label">Average file size:</td>
                    <td class="value">${h.sizeToStr(int(round(c.avg_size)))}</td>
                </tr>
                <tr>
                    <td class="label">Most popular file type:</td>
                    <td class="value">${c.ext_string} (${c.ext_count} files)</td>
                </tr>
                <tr>
                    <td class="label">Asset count:</td>
                    <td class="value">${c.asset_count} assets</td>
                </tr>
                <tr>
                    <td class="label">Collection count:</td>
                    <td class="value">${c.collection_count} collections</td>
                </tr>
                <tr>
                    <td class="label">Last cleanup:</td>
                    <td class="value">${g.last_cleanup}</td>
                </tr>
            </table>
        </div>
