<%inherit file="/base/index.html"/>
                <div id="loginform">
                ${h.form(url(controller="auth", action="submit"), method="post")}
                    <h1>Wobmat Authentication</h1>
                    <p>
                        Please log in to your Wombat account using the
                        information you provided when you registered. If
                        you can't remember your password,
                        <a href="${url(controller='account',
                            action='request_reset')}">you can retrieve it with this link.</a>
                    </p>
                    <div class="r">
                        <div class="f text">
                            <label for="email">Email:</label>
                            ${h.text("email")}
                        </div>
                        <div class="f password">
                            <label for="password">Password:</label>
                            ${h.password("password")}
                        </div>
                    </div>
                    <div class="r">
                        <div class="f submit">
                            ${h.submit('login', 'Login')}
                        </div>
                    </div>
                ${h.end_form()}
                </div>
