                    <table class="details">
                      <tr>
                        <td width="25%">Filename:</td>
                        <td>${c.file.name}</td>
                      </tr>
                      <tr>
                        <td>Filesize:</td>
                        <td>${h.sizeToStr(c.file.size)}</td>
                      </tr>
                      <tr>
                        <td>Last changed by:</td>
                        <td>${c.file.revision.author}</td>
                      </tr>
                      <tr>
                        <td>Last changed at revision:</td>
                        <td>${c.file.revision.name}</td>
                      </tr>
                      <tr>
                        <td>Last changed on:</td>
                        <td>${c.file.revision.date}</td>
                      </tr>
                      <tr>
                        <td>Last log message:</td>
                        <td>${c.file.revision.log}</td>
                      </tr>
                      <tr>
                        <td>Direct Link:</td>
                        <td><a href="/media/${c.file.path}">${c.file.path}</a></td>
                      </tr>
                    </table>
