                    <table class="details">
                      <tr>
                        <td class="label" width="25%">Filename:</td>
                        <td class="value">${c.file.name}</td>
                      </tr>
                      <tr>
                        <td class="label">Filesize:</td>
                        <td class="value">${h.sizeToStr(c.file.size)}</td>
                      </tr>
                      <tr>
                        <td class="label">Last changed by:</td>
                        <td class="value">${c.file.revision.author}</td>
                      </tr>
                      <tr>
                        <td class="label">Last changed at revision:</td>
                        <td class="value">${c.file.revision.name}</td>
                      </tr>
                      <tr>
                        <td class="label">Last changed on:</td>
                        <td class="value">${c.file.revision.date}</td>
                      </tr>
                      <tr>
                        <td class="label">Last log message:</td>
                        <td class="value">${c.file.revision.log}</td>
                      </tr>
                      <tr>
                        <td class="label">Direct Link:</td>
                        <td class="value"><a href="/media/${c.file.path}">${c.file.path}</a></td>
                      </tr>
                    </table>
