<%inherit file="/base/index.html"/>
                <div id="main">
                    <div class="group">
                        <h3>Found ${len(c.tagged)} Files</h3>
%if c.tagged is not None:
                        <div class="clr set">
                        <% i = 0 %>
%for file in c.tagged:
                            <div id="item_${i}" class="lfloat item">
                                <a href="${h.url_for(controller="file")}?path=${file.path}"
                                   id="act_${i}"
                                   title="View Details for: &ldquo;${file.name}&rdquo;"
                                   type="text/itemDetail"
                                   rel="${h.url_for(controller="file", action="panel")}?path=${file.path}"
                                   class="clr">
                                    <span class="lfloat">
                                        <img class="fade" src="/images/other.png"
                                        height="32" width="32" vspace="1" hspace="1" border="0" alt="" />
                                    </span>
                                    <span class="lfloat">
                                        ${h.truncStr(file.name, 20)}<br />
                                    </span>
                                </a>
                                <script type="text/javascript">
                                    lazyLoad('${h.url_for(controller="file", action="file_li2", id=None)}?path=${file.path}&id=${i}', $('act_${i}'));
                                </script>
                                <div id="exp_item_${i}" class="exp"></div>
                            </div>
                            <% i += 1 %>
%endfor
                        </div>
%endif
                    </div>