<%inherit file="/base/index.html"/>
                <div id="main">
                    <ul>
%for asset in c.assets:
                        <li>Asset ${asset.id} name: "${asset.name}", tags:
                        "${h.create_tag_str(asset.tags)}",
                        <a href="${h.url_for(controller="asset", action="edit",
                            id=asset.id)}">edit</a>, <a
                            href="${url(controller="asset",
                            action="delete", id=asset.id)}">delete</a>
                        </li>
%endfor
                    </ul>
                </div>
